body, html {
  background-color: #f8f9fa;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#brand {
  max-height: 200px;
}